<footer class="footer bg-dark text-light py-4">
    <div class="container text-center">
        <!-- Основное навигационное меню -->
        <div class="footer-menu mb-3">
            <!-- Ссылки на страницы кинотеатра -->
            <a href="#" class="text-light mx-2">О кинотеатре</a>
            <a href="#" class="text-light mx-2">Репертуар</a>
            <a href="#" class="text-light mx-2">Услуги</a>
            <a href="#" class="text-light mx-2">Цены</a>
            <a href="#" class="text-light mx-2">Ресторан</a>
            <a href="#" class="text-light mx-2">События</a>
            <a href="#" class="text-light mx-2">Галерея</a>
            <a href="#" class="text-light mx-2">Партнеры</a>
            <a href="#" class="text-light mx-2">Контакты</a>
        </div>

        <!-- Социальные иконки и ссылки на магазины приложений -->
        <div class="social-icons mb-3">
            <!-- Иконки соцсетей и магазинов приложений (SVG или PNG) -->
            <a href="https://web.telegram.org/" target="_blank" class="mx-2"><img src="/static/icons/telegram.svg" alt="Telegram" width="24"></a>
            <a href="https://vk.com/" target="_blank" class="mx-2"><img src="/static/icons/vk.svg" alt="VK" width="24"></a>
        </div>

        <!-- Контактная информация -->
        <div class="contact-info mb-3">
            <!-- Телефон и график работы -->
            <p class="small">Часы работы: с 12:00 до 03:00; в выходные дни с 11:00 до 03:00</p>
        </div>

        <!-- Авторские права -->
        <div class="copyright mt-3">
            <!-- Копирайт и название кинотеатра -->
            <p class="small mb-0">© 2024 Кинотеатр</p>
        </div>
    </div>
</footer>
