<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Reservation{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Movie Reservation</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user %}
                        <li class="nav-item">
                            <a class="nav-link" href="/movies">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations">My Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">LogOut</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Контейнер для контента страницы -->
        <main class="flex-grow-1 container mt-5">
            {% block content %}{% endblock %}
        </main>

        <!-- Включение футера -->
        {% include "footer.html" %}
    </div>
</body>
</html>
